.background {
    background: linear-gradient(to left, #333, #333 50%, #eee 100%);
}

.whiteText {
    color: white !important;
}

.submit-btn {
    background-color: #333333 !important;
    color: white !important;
}
