.foot {
  background: linear-gradient(to left, #333, #333 50%, #eee 100%);
  border-top: 2px solid #778dc3;
  max-height: 50px !important;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* margin: 0px !important; */
  margin-top: 20px;
  padding: 15px;
}

.footer-links {
  color: white;
}

.footer-links:hover {
  color: red;
  text-decoration: none;
}

.foot-p {
  height: 100px;
}
